body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 40px;
    background: #f2f2f2;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

ul li {
    margin: 6px 0;
    padding: 8px;
    background: #eee;
    border-radius: 5px;
}

.hidden {
    display: none;
}
